.infor-container{
    background-color: #F7F6F2;
    border: solid black 1px;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}
.box-container{
    text-align: center;
    height: fit-content;
}
.user-infor{
    width: fit-content;
    margin: auto
}
.image-box{
    overflow: hidden;
    height: 300px;
}
.image-container{
    width: 90%;
    height: auto;
    margin: auto;
}
.view-button{
    margin-bottom: 10px ;
}
